.nav-item-pill:hover {
  background-color: red;
  color: white;
  transform: scale(1.05);
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 6px 12px whitesmoke (0, 0, 0, 0.2);
}

.nav-item-pill.active {
  background-color: green;
  color: white;
}

.navbar-collapse {
  display: flex;
  align-items: center;
}


