.searchform-container {
    background-color: whitesmoke;
}

.searchbooks {
    font-style: italic;
    color: black;
}

.submit-button {
    background-color: red;
    border-color: green;
    border-radius: 50px; /* Make the button pill-shaped */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth transition */
  }
  
  .submit-button:hover {
    transform: scale(1.1); /* Grow the button slightly on hover */
    background-color: green;
    border-color: #5a2d98; /* Match the border color on hover */
  }